@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --image-bg-color: #47B5FF;
    --header-color: #06283D;
    --text-white: #fff;
    --text-black: #000;
    user-select: none;
}
html,body{
    box-sizing: inherit;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    box-sizing: inherit;
}
input[type="text"],
input[type="submit"]{
    color: #000;
    height: 2rem;
    padding: 0 .5rem 0 .5rem;
    font-size: 1.125rem;
    border-radius: 5px;
    border: none;
}
input[type="submit"]{
    background-color: var(--image-bg-color);
    color: var(--text-white);
    border: 1px solid var(--image-bg-color);
    cursor: pointer;
}
input[type="text"]:focus{
    outline-color: var(--image-bg-color);
}
input[type="text"]:left{
    outline-color: var(--text-black);
}
input[type="text"]{
    outline: 2px solid var(--text-black);
}
header{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--header-color);
    color: var(--text-white);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
.header-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    font-size: 1.125rem;
    font-weight: bold;
    width: 100%;
}
.weather-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: fit-content;
    background-color: var(--image-bg-color);
    border-radius: 5px;
    margin: .125rem;
}
.weather-left img{ 
    width: 125px;
}
.weather-right{
    display: flex;
    vertical-align: top;
    width: fit-content;
}
.selected-temperature{
    font-weight: bold;
}
.weather-description,
.location-description{
    padding: 1px 0 1px 5px;
}
.location-description{
    font-size: 1.125rem;
}
.temp{
    padding: 0 .5rem;
    font-size: 2.5rem;
    font-weight: bold;
    height: fit-content;
}
.fahrenheit{
    height: fit-content;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: .2rem .5rem;
    background-color: var(--text-white);
    width: 35px;
}
.fahrenheit{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.fahrenheit:hover{
    color: darkorange;
}
#weather-card{
    display: grid;
    grid-template-columns: 130px auto;
}
#brand{
    width: 32px;
}
#location-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .1rem;
}

/* ERROR ANIMATION */
.error{
    outline-color: red !important;
    animation: shaking ease-in-out .5s;
}
@keyframes shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
  }

/* ------------ */

/* SKELETON LOADING ANIMATION */
.skeleton{
    height: 146px;
    margin: .5rem;
    animation: skeleton-loading .5s linear infinite alternate;
    border-radius: 5px;
}
.skeleton-text{
    height: 25px;
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }100%{
        background-color: hsl(200, 20%, 95%);
    }
}
/* ------------------------ */

/* TIMELINE - STYLES */
.timeline-item {
    background-color: #fff;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px
}
#weather-timeline {
    display: flex;
    flex-direction: row;
    margin-right: .5rem;
    justify-content: space-between;
    padding: .5rem;
    gap: .5rem;
    overflow-x: auto;
}
#weather-timeline div p {
    margin: 0;
    padding: 1px 0;
    min-width: 95px;
    text-align: center;
}
#weather-timeline div img {
    width: 50px;
}
/* ------------------------- */


/* RESPONSIVE RULES */
@media only screen and (min-width:400px){
    header{
        flex-direction: row;
    }
    .header-brand{
        justify-content: flex-start;
    }
    #location-form{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 500px){
    #location-form{
        flex-direction: row;
    }
}


/* ---------------- */