*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --card-color: #fff;
    --text-white: #fff;
}
html,body{
    box-sizing: inherit;
    font-size: 16px;
}
.weather-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.weather-right{
    display: flex;
    vertical-align: top;
    width: fit-content;
}
.selected-temperature{
    font-weight: bold;
}
.weather-description{
    padding: 1px 0 1px 5px;
}
.temp{
    padding: 0 .5rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.fahrenheit,
.celsius{
    height: fit-content;
    width: fit-content;
    background-color: var(--card-color);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: .2rem .5rem;
    width: 35px;
}
.fahrenheit{
    border-right: 1px solid #000;
}
.fahrenheit:hover,
.celsius:hover{
    background-color: var(--text-white);
}
#weather-card{
    display: grid;
    grid-template-columns: 175px auto;
    justify-content: center;
    background-color: var(--card-color);
}